@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

#tela{
    background-color: #54a3f738;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: white;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #38B6FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #38B6FF;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
    z-index: -2;
}

.hori-selector .left {
    left: -25px;
    z-index: -2;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1E90FF;
    z-index: -2;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    #barraNavegacao {
        height: 64px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #navbarSupportedContent {
        width: 690px;
        margin-top: -62px;
        padding-left: 18%;
    }

    .navbar-logo {
        margin-left: -9%;
    }

    #barraPesquisa2 {
        background-color: white;
        border-radius: 10px;
    }

    #search-button {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    #barraPesquisa1 {
        position: absolute;
        padding-left: 80%;
        z-index: -1;
    }

    #barraPesquisa2 {
        width: 60%;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }

    #barraPesquisa1 {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 40% 60px;
        z-index: 1;
        padding-left: 3%;
    }
}

#barraNavegacao {
    z-index: 2;
    background-color: #1E90FF;
}

#informacoes {
    width: 100%;
    height: 300px;
    background-color: #154682;
    margin-top: 7%;
    color: white;
    display: grid;
    grid-template-columns: 20% 30%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 991px) and (max-width: 1500px) {
    #informacoes {
        width: 100%;
        height: 300px;
        background-color: #154682;
        margin-top: 10%;
        color: white;
        display: grid;
        grid-template-columns: 20% 30%;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) and (max-width: 991px) {
    #informacoes {
        width: 100%;
        height: 300px;
        background-color: #154682;
        margin-top: 20%;
        color: white;
        display: grid;
        grid-template-columns: 20% 30%;
        justify-content: center;
        align-items: center;
    }
}

.textItemInformacao {
    padding-bottom: 2%;
}

.tituloItemInformacao {
    font-weight: 600;
}

#formulario {
    background-color: #1E90FF;
    height: 400px;
    width: 40%;
    margin-top: -350px;
    margin-left: 50%;
    display: grid;
    grid-template-rows: 35% 2% 53% 0%;
    grid-template-columns: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
}

.input-container textarea {
    border: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #38B6FF;
}

.input-container textarea:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #38B6FF;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 12px;
}

.input-container textarea:focus~label,
.input-container textarea:valid~label {
    top: -12px;
    font-size: 12px;
}

#btnFormulario1 {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 11px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

#btnFormulario1:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

#btnFormulario2 {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 11px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

#btnFormulario2:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

#btnFormulario {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30%;
    column-gap: 2%;
}

#mapa1{
    margin-top: 5%;
    width: 100%;
    display: grid;
}

#mapa2 {
    margin-left: 30%;
}

@media (max-width: 900px) {
    #informacoes {
        width: 100%;
        height: 300px;
        background-color: #154682;
        margin-top: 20%;
        color: white;
        display: grid;
        grid-template-columns: 50%;
        justify-content: center;
        align-items: center;
    }

    #formulario {
        background-color: #1E90FF;
        height: 400px;
        width: 70%;
        margin-top: 0px;
        margin-left: 15%;
        display: grid;
        grid-template-rows: 35% 2% 53% 0%;
        grid-template-columns: 80%;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    #btnFormulario {
        display: grid;
        justify-content: center;
        grid-template-columns: 40% 40%;
        column-gap: 2%;
    }

    #mapa2{
        width: 80%;
        height: 300px;
        margin-left: 10%;
    }
}

#rodape{
    background-color: #1E90FF;
    margin-bottom: 0;
    margin-top: 10%;
    height: 250px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15% 15% 15% 15% 15%;
    
}

.textRodape{
    color: white;
}

.textRodape:hover{
    color: #b7e5ff;
}

#tituloRodape{
    font-weight: bolder;
}

@media (max-width: 1000px) {
    #rodape{
        background-color: #1E90FF;
        margin-bottom: 0;
        margin-top: 10%;
        height: 400px;
        color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 15% 15% 15%;
        grid-template-rows: 50% 50%;  
        gap: 3%;     
    }
}

@media (max-width: 700px) {
    #rodape{
        background-color: #1E90FF;
        margin-bottom: 0;
        margin-top: 60%;
        height: 1000px;
        color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 15%;
        grid-template-rows: 15% 15% 15% 15% 15%;  
        
    }

    #imgRodape{
        width: 100%;
    }
}