@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent>ul>li.active>a {
    color: white;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #38B6FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #38B6FF;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
    z-index: -2;
}

.hori-selector .left {
    left: -25px;
    z-index: -2;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1E90FF;
    z-index: -2;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    #barraNavegacao {
        height: 64px;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #navbarSupportedContent {
        width: 690px;
        margin-top: -62px;
        padding-left: 18%;
    }

    .navbar-logo {
        margin-left: -9%;
    }

    #barraPesquisa2 {
        background-color: white;
        border-radius: 10px;
    }

    #search-button {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    #barraPesquisa1 {
        position: absolute;
        padding-left: 80%;
        z-index: -1;
    }

    #barraPesquisa2 {
        width: 60%;
    }
}

@media (max-width: 991px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }

    .hori-selector .left {
        top: -25px;
        left: auto;
    }

    .hori-selector .right {
        bottom: -25px;
    }

    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }

    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }

    #barraPesquisa1 {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 40% 60px;
        z-index: 1;
        padding-left: 3%;
    }
}

#barraNavegacao {
    z-index: 2;
    background-color: #1E90FF;
}

#textImg {
    margin-top: -400px;
    background-color: #1e8fff;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: 50%;
    text-align: center;
    color: white;
    padding-top: 1%;
    box-shadow: #5161ce 0px 0px 0px 3px, #1E90FF 0px 0px 0px 6px, #38B6FF 0px 0px 0px 9px, #62c6ff 0px 0px 0px 12px, #b7e5ff 0px 0px 0px 15px;
    width: 100%;
}

#imgBanner {
    animation: go-back 3s;
}

#banner {
    display: flex;
    justify-content: center;
    background-color: #5161ce;
}

@media (min-width: 700px) and (max-width: 1500px) {
    #imgBanner {
        height: 400px;
    }

    #textImg {
        margin-top: -280px;
        background-color: #1e8fff;
        position: absolute;
        display: grid;
        justify-content: center;
        grid-template-columns: 80%;
        text-align: center;
        color: white;
        padding-top: 1%;
        box-shadow: #5161ce 0px 0px 0px 3px, #1E90FF 0px 0px 0px 6px, #38B6FF 0px 0px 0px 9px, #62c6ff 0px 0px 0px 12px, #b7e5ff 0px 0px 0px 15px;
        animation: go-back 4s;
        width: 100%;
    }
}

@media (max-width: 700px) {
    #imgBanner {
        height: 400px;
    }

    #textImg {
        margin-top: -280px;
        background-color: #1e8fff;
        position: absolute;
        display: grid;
        justify-content: center;
        grid-template-columns: 80%;
        text-align: center;
        color: white;
        padding-top: 1%;
        box-shadow: #5161ce 0px 0px 0px 3px, #1E90FF 0px 0px 0px 6px, #38B6FF 0px 0px 0px 9px, #62c6ff 0px 0px 0px 12px, #b7e5ff 0px 0px 0px 15px;
        animation: go-back 4s;
        width: 100%;
    }

    #textoImagem {
        font-size: 20px;
    }
}

@keyframes go-back {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

#imgEu {
    border-radius: 100%;
    margin-top: -100px;
    position: absolute;
    margin-left: 45px;
}

#divEu {
    margin-top: 150px;
    width: 350px;
    height: 450px;
    background-color: #b7e5ff;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 70%;
    grid-template-rows: 80% 10%;
    margin-left: 40%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#textEu {
    margin-top: 80%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#redesSociais {
    display: grid;
    justify-content: center;
    grid-template-columns: 15% 15% 15%;
    margin-top: 15%;
}

#textFundador {
    width: 100%;
    background-color: #1e8fff;
    color: white;
}

#textArthur {
    color: #5161ce;
}

#textFullStack {
    color: #1E90FF;
}

.fa-linkedin {
    color: #5161ce;
}

.fa-twitter {
    color: #5161ce;
}

.fa-instagram {
    color: #5161ce;
}

@media (min-width: 1000px) and (max-width: 1300px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 33%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 30%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@media (max-width: 800px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 26%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@media (min-width: 680px) and (max-width: 800px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 26%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@media (min-width: 500px) and (max-width: 680px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 20%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@media (max-width: 500px) {
    #divEu {
        margin-top: 150px;
        width: 350px;
        height: 450px;
        background-color: #b7e5ff;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 70%;
        grid-template-rows: 80% 10%;
        margin-left: 5%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

#mvv {
    display: grid;
    height: 350px;
    background-color: #38b6ff3d;
    margin-top: 80px;
    grid-template-columns: 23.3% 23.3% 23.3%;
    gap: 3%;
    justify-content: center;
}

.itemMvv {
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 30% 15% 35%;
    text-align: center;
    align-items: center;
}

#itemMvv1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 30% 15% 50%;
    text-align: center;
    align-items: center;
}

.fa-font-awesome {
    color: #1E90FF;
    font-size: 80px;
}

.fa-eye {
    color: #1E90FF;
    font-size: 60px;
}

.fa-star {
    color: #1E90FF;
    font-size: 60px;
}

#rodape {
    background-color: #1E90FF;
    margin-bottom: 0;
    margin-top: 10%;
    height: 250px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15% 15% 15% 15% 15%;

}

.textRodape {
    color: white;
}

.textRodape:hover {
    color: #b7e5ff;
}

#tituloRodape {
    font-weight: bolder;
}

@media (max-width: 1000px) {
    #rodape {
        background-color: #1E90FF;
        margin-bottom: 0;
        margin-top: 10%;
        height: 400px;
        color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 15% 15% 15%;
        grid-template-rows: 50% 50%;
        gap: 3%;
    }
}

@media (max-width: 700px) {
    #rodape {
        background-color: #1E90FF;
        margin-bottom: 0;
        margin-top: 50%;
        height: 600px;
        color: white;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 15%;
        grid-template-rows: 15% 15% 15% 15% 15%;

    }

    #imgRodape {
        width: 100%;
    }
}