body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3EAA0D;
}

body::-webkit-scrollbar-thumb {
    height: 334px;
}

#linhaPreta {
    width: 100%;
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#numeroTelefone {
    color: white;
    font-size: 16px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 29.7%;
}

#ligueAgora {
    font-weight: lighter;
}

#numero {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
}

#numero:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 80%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    position: sticky;
    top: 0;
}

#options {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.options {
    margin-left: 40px;
}

.options:hover {
    color: #3EAA0D;
}

#linha {
    padding-left: 50%;
}

.dropdown-content {
    color: white;
    text-decoration: none;
    padding: 15px 0px 0px 0px;
}

#dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0%;
    padding-top: 20%;
    margin-left: -5%;
    display: none;
    background-color: black;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 5px;
    z-index: 0;
    width: 290px;
}

#dropdown:hover #dropdown-content {
    display: flex;
}

.dropdown-content:hover {
    color: #53c918;
}

#dropdown-content2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0%;
    padding-top: 20%;
    display: none;
    background-color: black;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 5px;
}

#dropdown2:hover #dropdown-content2 {
    display: flex;
}

#imgEu {
    width: 100%;
    position: absolute;
    top: 40px;
    display: flex;
}

#contentImg {
    position: absolute;
    width: 350px;
    height: 210px;
    margin-left: 19%;
    margin-top: 5%;
}

.text {
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: left;
}

#textImg1 {
    font-size: 38px;
    font-weight: 800;
}

#textImg2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
}

#btnCliqueAqui {
    font-size: 14px;
    font-weight: 700;
    background-color: #40AA0B;
    border: #40AA0B;
    padding: 15px 80px;
    border-radius: 8px;
    margin-top: 45px;
}

#btnCliqueAqui:hover {
    cursor: pointer;
    background-color: #53c918;
}

.iconeMaior {
    position: relative;
    top: 2px;
    left: 2px;
}

#iconeCadeado {
    position: relative;
    top: 2px;
    right: 2px;
}

.dropdown-content2 {
    color: white;
    text-decoration: none;
}

#dropdown-content3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -8%;
    width: 300px;
    height: 130px;
    justify-content: center;
    margin-left: 290px;
    display: none;
    background-color: black;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    z-index: 2;
}

#dropdown3:hover #dropdown-content3 {
    display: flex;
}

.dropdown-content2:hover {
    color: #53c918;
}

.imgDropdown3 {
    border-radius: 8px;
    margin-right: 0.5em;
}

.divDropdown3 {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#ensinoMedio:hover #textEnsinoMedio {
    color: #53c918;
}

#ensinoMedio {
    margin-bottom: 5%;
}

#google:hover #textDropdown3 {
    color: #53c918;
}

#dropdown-content4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -17%;
    width: 300px;
    height: 190px;
    justify-content: center;
    margin-left: 290px;
    display: none;
    background-color: black;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    z-index: 2;
}

#dropdown4 {
    margin-top: 5%;
}

#dropdown4:hover #dropdown-content4 {
    display: flex;
}

#sistemas:hover #textSistemas {
    color: #53c918;
}

#analise:hover #textAnalise {
    color: #53c918;
}

#ciencia:hover #textCiencia {
    color: #53c918;
}

#analise {
    margin-top: 5%;
    margin-bottom: 5%;
}

.divDropdown4 {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.iconePlay {
    fill: white;
}

#dropdown3:hover #iconePlay1 {
    fill: #53c918;
}

#iconePlay1 {
    padding-left: 26%;
}

#dropdown4:hover #iconePlay2 {
    fill: #53c918;
}

#iconePlay2 {
    padding-left: 68%;
}

#dropdown-content5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -27%;
    width: 300px;
    height: 130px;
    justify-content: center;
    margin-left: 290px;
    display: none;
    background-color: black;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    z-index: 2;
}

#dropdown5 {
    margin-top: 5%;
}

#dropdown5:hover #dropdown-content5 {
    display: flex;
}

#bigData:hover #textBigData {
    color: #53c918;
}

#mobile:hover #textMobile {
    color: #53c918;
}

#bigData {
    margin-bottom: 5%;
}

#dropdown5:hover #iconePlay3 {
    fill: #53c918;
}

#iconePlay3 {
    padding-left: 59.2%;
}

#dropdown-content6 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -37%;
    width: 300px;
    height: 100px;
    justify-content: center;
    margin-left: 290px;
    display: none;
    background-color: black;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    z-index: 2;
}

#dropdown6 {
    margin-top: 5%;
}

#dropdown6:hover #dropdown-content6 {
    display: flex;
}

#automacao:hover #textAutomacao {
    color: #53c918;
}

#dropdown6:hover #iconePlay4 {
    fill: #53c918;
}

#iconePlay4 {
    padding-left: 24%;
}

#divPosImagem {
    margin-top: 26%;
    display: flex;
    justify-content: center;
}

#textMudarMundo {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

#divPosImagem2 {
    margin-top: -3%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#textCotemig {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #424242;
    font-weight: 400;
}

#divPosImagem3 {
    width: 34%;
}

#divImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    flex-wrap: wrap;
}

.imgs {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
}

.divEscolaReferencia {
    list-style: none;
}

.textDiv {
    color: black;
    text-decoration: none;
}

#textDiv1:hover {
    color: #53c918;
}

.divImg1 {
    box-shadow: 5px 10px 18px #888888;
    border-radius: 0.75em;
    cursor: pointer;
}

.textDiv {
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.textTecnico {
    position: absolute;
    margin-top: -80px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 800;
    width: 200px;
    margin-left: 20px;
}

#div1 {
    margin-top: 8px;
}

#div2 {
    margin-bottom: 8px;
}

#div1:hover .textDiv {
    color: #53c918;
}

#div2:hover .textDiv {
    color: #53c918;
}

.iconeMaior2 {
    position: absolute;
    margin-top: 0px;
    margin-left: 255px;
    z-index: 1;
}

#div1:hover #iconeMaior2 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#div2:hover #iconeMaior3 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#divImg1 {
    height: 328px;
}

@keyframes left-right {
    from {
        margin-left: 250px;
    }

    to {
        margin-left: 255px;
    }
}

#afastamento1 {
    margin-left: 20px;
}

#div3 {
    margin-top: 8px;
}

#div5 {
    margin-bottom: 8px;
}

#div3:hover .textDiv {
    color: #53c918;
}

#div4:hover .textDiv {
    color: #53c918;
}

#div5:hover .textDiv {
    color: #53c918;
}

#div3:hover #iconeMaior4 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#div4:hover #iconeMaior5 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#div5:hover #iconeMaior6 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#graduacoes2 {
    margin-top: -50px;
}

#afastamento2 {
    margin-left: 20px;
    height: 328px;
}

#textPosGraduacao1 {
    width: 150px;
}

#textPosGraduacao2 {
    width: 150px;
}

#div6 {
    margin-top: 8px;
}

#div7 {
    margin-bottom: 8px;
}

#div6:hover .textDiv {
    color: #53c918;
}

#div7:hover .textDiv {
    color: #53c918;
}

#div6:hover #iconeMaior7 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#div7:hover #iconeMaior8 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#posGraduacoes2 {
    margin-top: -50px;
}

#afastamento3 {
    margin-left: 20px;
    height: 260px;
}

#cursosDuracao {
    width: 150px;
}

#div8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

#div8:hover .textDiv {
    color: #53c918;
}

#div8:hover #iconeMaior9 {
    animation-name: left-right;
    animation-duration: 0.5s;
}

#cursosDuracao {
    margin-top: -80px;
    width: 250px;
}

#textsPosImg2 {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

#textsPosImg3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #484848;
    font-weight: 400;
    margin-top: 2%;
    text-align: justify;
}

#textCotemig {
    font-weight: 700;
    margin-left: 3px;
    margin-right: 3px;
}

#textUnidades{
    padding-left: 28%;
    padding-right: 28%;
}