* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3EAA0D;
}

body::-webkit-scrollbar-thumb {
    height: 334px;
}

#linhaPreta {
    width: 100%;
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#numeroTelefone {
    color: white;
    font-size: 16px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 29.7%;
}

#ligueAgora {
    font-weight: lighter;
}

#numero {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: lighter;
}

#numero:hover {
    text-decoration: underline;
}

#container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 80%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

#options {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.options:hover {
    color: #3EAA0D;
}

li {
    margin-left: 40px;
}

.dropdown-content {
    color: white;
    text-decoration: none;
    padding: 15px 0px 0px 0px;
}

#dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0%;
    padding-top: 20%;
    margin-left: -5%;
    display: none;
    background-color: black;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 5px;
    z-index: 0;
}

#dropdown:hover #dropdown-content {
    display: flex;
}

.dropdown-content:hover {
    color: #53c918;
}

#dropdown-content2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0%;
    padding-top: 20%;
    display: none;
    background-color: black;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 5px;
}

#dropdown2:hover #dropdown-content2 {
    display: flex;
}

#imgEu {
    width: 100%;
    position: absolute;
    top: 4.1%;
    display: flex;
}

#contentImg {
    position: absolute;
    width: 30%;
    height: 30%;
    margin-left: 13.3%;
    margin-top: 2.9%;
}

.text {
    color: white;
    font-family: 'Lato', sans-serif;
}

#textImg1 {
    padding-left: 19.3%;
    padding-top: 8.6%;
    font-size: 38px;
    font-weight: 800;
}

#textImg2 {
    padding-left: 19.3%;
    font-size: 18px;
    font-weight: 400;
}

#btnCliqueAqui {
    font-size: 14px;
    font-weight: 700;
    background-color: #40AA0B;
    border: #40AA0B;
    padding: 2.4% 14%;
    border-radius: 8px;
    margin-top: 7.5%;
    margin-left: 19.1%;
}

#btnCliqueAqui:hover {
    cursor: pointer;
    background-color: #53c918;
}