* {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #18181c;
    height: 127%;
    width: 16.5%;
    position: absolute;
}

#img1 {
    position: relative;
    left: 24%;
    top: 3%;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    padding: 12px 25px 12px 50px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.text:hover {
    background-color: #99896E;
    cursor: pointer;
}

#text1 {
    position: absolute;
    top: 12%;
    background-color: #99896E;
    cursor: pointer;
}

#text2 {
    position: absolute;
    top: 15.4%;
}

#text3 {
    position: absolute;
    top: 18.8%;
}

#text4 {
    position: absolute;
    top: 22.2%;
}

#text5 {
    position: absolute;
    top: 25.6%;
}

#text6 {
    position: absolute;
    top: 29%;
}

#text7 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 36%;
    color: #99896E;
    margin: 0px 0px 25px;
    padding: 0px 0px 0px 50px;
}

.textFilter {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    padding: 8px 15px 8px 50px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.textFilter:hover {
    background-color: #99896E;
    cursor: pointer;
}

#text8 {
    background-color: #99896E;
    cursor: pointer;
    position: absolute;
    top: 40%;
}

#text9 {
    position: absolute;
    top: 42.8%;
}

#text10 {
    position: absolute;
    top: 45.6%;
}

#text11 {
    position: absolute;
    top: 48.4%;
}

#text12 {
    position: absolute;
    top: 51.2%;
}

#logos {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 14%;
    cursor: pointer;
}

.logos {
    margin-left: 8px;
}

#text13 {
    position: absolute;
    bottom: 3%;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    color: #99896E;
    font-size: 12px;
    width: 80%;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
}

#container1 {
    width: 19.5%;
    height: 77%;
    overflow: hidden;
    position: absolute;
    left: 19%;
    top: 5%;
    cursor: crosshair;
}

#img2 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container1:hover #img2 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container1:hover #escuro1 {
    visibility: visible;
}

#text14 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img3 {
    position: absolute;
    top: 46%;
    left: 50%;
}

#container2 {
    width: 38.8%;
    height: 38.8%;
    overflow: hidden;
    position: absolute;
    left: 38.5%;
    top: 5%;
    cursor: crosshair;
}

#img4 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container2:hover #img4 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.escuro {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    left: 0%;
    top: 0%;
    visibility: hidden;
}

#container2:hover #escuro2 {
    visibility: visible;
}

#text15 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 14px;
}

#img5 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container3 {
    width: 19.6%;
    height: 38.8%;
    overflow: hidden;
    position: absolute;
    left: 77.3%;
    top: 5%;
    cursor: crosshair;
}

#img6 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container3:hover #img6 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container3:hover #escuro3 {
    visibility: visible;
}

#text16 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img7 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container4 {
    width: 19.6%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 38.5%;
    top: 43.8%;
    cursor: crosshair;
}

#img8 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container4:hover #img8 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container4:hover #escuro4 {
    visibility: visible;
}

#text17 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img9 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container5 {
    width: 19.2%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 58.1%;
    top: 43.8%;
    cursor: crosshair;
}

#img10 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container5:hover #img10 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container5:hover #escuro5 {
    visibility: visible;
}

#text18 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img11 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container6 {
    width: 19.6%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 77.3%;
    top: 43.8%;
    cursor: crosshair;
}

#img12 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container6:hover #img12 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container6:hover #escuro6 {
    visibility: visible;
}

#text19 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img13 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container7 {
    width: 19.5%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 19%;
    top: 82%;
    cursor: crosshair;
}

#img14 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container7:hover #img14 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container7:hover #escuro7 {
    visibility: visible;
}

#text20 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img15 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container8 {
    width: 19.6%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 38.5%;
    top: 82%;
    cursor: crosshair;
}

#img16 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container8:hover #img16 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container8:hover #escuro8 {
    visibility: visible;
}

#text21 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 14px;
}

#img17 {
    position: absolute;
    top: 42%;
    left: 50%;
}

#container9 {
    width: 38.8%;
    height: 38.2%;
    overflow: hidden;
    position: absolute;
    left: 58.1%;
    top: 82%;
    cursor: crosshair;
}

#img18 {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

#container9:hover #img18 {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container9:hover #escuro9 {
    visibility: visible;
}

#text22 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 14px;
}

#img19 {
    position: absolute;
    top: 42%;
    left: 50%;
}