#form1{
  background-color: #1C658C;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
}

#home{
  color: white;
  position: absolute;
  top: 15px;
  left: 120px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

#contatos{
  color: white;
  position: absolute;
  top: 15px;
  left: 230px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

#servicosprodutos{
  color: white;
  position: absolute;
  top: 0px;
  left: 375px;
  font-family: 'Roboto', sans-serif;
  padding: 15px 1px;
}

#login{
  color: white;
  position: absolute;
  top: 15px;
  left: 96%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

#circulo{
  position: absolute;
  top: -4px;
  left: 17px;
  height: 55px;
  width: 55px;
}

#logo{
  position: absolute;
  top: -9px;
  left: 12px;
  height: 65px;
  width: 65px;
}

#iconeCadeado{
  position: absolute;
  right: 55px;
  top: -3px;
  width: 20px;
  height: 20px;
}

#iconeCasa{
  position: absolute;
  right: 52px;
  top: -2px;
  width: 19px;
  height: 19px;
}

#iconeContato{
  position: absolute;
  right: 90px;
  top: -2px;
  width: 19px;
  height: 19px;
}

#iconeCarrinho{
  position: absolute;
  right: 181px;
  top: 13px;
  width: 19px;
  height: 19px;
}

#iconeMaior{
  position: absolute;
  right: -22px;
  top: 15px;
  width: 15px;
  height: 15px;
}

#dropdown:hover #iconeMaior{
  transform:rotate(90deg);
}

#home:hover{
  cursor: pointer;
}

#Home:hover #linha1{
  visibility: visible;
  cursor: pointer;
}

#Contatos:hover #linha2{
  visibility: visible;
  cursor: pointer;
}

#servicosprodutos{
  cursor: pointer;
}

#Login{
  cursor: pointer;
}

#dropdown:hover #linha3{
  visibility: visible;
}

#Login:hover #linha4{
  visibility: visible;
}

#Lista1:hover{
  color: blue;
  cursor: pointer;
}

#Lista2:hover{
  color: blue;
  cursor: pointer;
}

#dropdown:hover #Lista{
  visibility: visible;
}

#Lista{
  position: absolute;
  background-color: #1C658C;
  width: 220px;
  height: 100px;
  box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.2);
  list-style: none;
  top: 33px;
  left: 330px;
  visibility: hidden;
}

#Lista1{
  position: absolute;
  top: 20px;
  left: 25px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#Lista2{
  position: absolute;
  text-decoration: none;
  list-style: none;
  color: white;
  top: 60px;
  left: 25px;
  font-family: 'Roboto', sans-serif;
}

#linha1{
  position: relative;
  left: 125px;
  top: 17px;
  visibility: hidden;
  height: 40px;
}

#linha2{
  position: relative;
  left: 208px;
  top: 17px;
  visibility: hidden;
  height: 40px;
}

#linha3{
  position: relative;
  left: 350px;
  top: 17px;
  visibility: hidden;
  height: 40px;
}

#linha4{
  position: relative;
  left: 1714px;
  top: 17px;
  visibility: hidden;
  height: 40px;
}