body{
    margin: 0;
    padding: 0;
    background-image: url("https://www.ft.unicamp.br/sites/default/files/tads.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #708090;
}

ul li img{
    cursor: pointer;
}

li {
    float: left;
    border-right:1px solid #bbb;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #C0C0C0;  
}

#Lista2:hover{
    background-color: #C0C0C0;
}

#Lista3:hover{
    background-color: #C0C0C0;
}

#Lista4:hover{
    background-color: #C0C0C0;
}

a:hover{
    color: blue;
}

.login{
    height: 20px;
    width: 20px;
}

#Imagem1{
    margin-left: -22px;
    margin-top: 0px;
    position: absolute;
}

#Imagem2{
    margin-left: 30px;
    margin-top: 0px;
    position: absolute;
}

#Imagem3{
    margin-left: -25px;
    margin-top: 0px;
    position: absolute;
}

#Imagem4{
    margin-left: -17px;
    margin-top: 0px;
    position: absolute;
}

#Imagem5{
    margin-left: -25px;
    margin-top: 0px;
    position: absolute;
}

#Imagem6{
    margin-left: -35px;
    margin-top: 10px;
    position: absolute;
}

#Imagem7{
    margin-left: -35px;
    margin-top: 10px;
    position: absolute;
}

#Imagem8{
    margin-left: -34px;
    margin-top: 10px;
    position: absolute;
}

#Imagem9{
    margin-left: -30px;
    margin-top: 0px;
    position: absolute;
}

#Texto1{
    margin-left: 51px;
    margin-right: 51px;
}

#Texto2{
    margin-left: 25px;
}

#Texto3{
    margin-left: 20px;
}

#Texto4{
    margin-left: 25px;
}

.Lista{
    border:1px solid #ffffff;
    display: block;
    width: 171px;
    position: absolute;
    top: 45px;
    left: 45px;
    list-style-type: none;
    list-style: none;
    background-color: #8191a0;
    float: left;
    visibility: hidden;
}

.Lista li{
    text-align: center;
    left: -40px;
    width: 210px;
    font-size: 16px;
}

hr{
    width: 210px;  
    margin-left: -40px;
}

#Lista1{
    margin-left: 10px;
}
#Lista2{
    margin-top: -10px;
    margin-left: 0px;
}

#Lista3{
    margin-top: -10px;
    margin-left: 22px;
}

#Lista4{
    margin-top: -10px;
    margin-left: 36px;
}

.dropdown:hover .Lista {
    visibility: visible;
}

.forms1{
    background-color: rgba(119, 136, 153, 0.795);
    margin-left: 11%;
    width: 78%;
    height: 854px;
    display: flex;
    margin-top: 2%;
}
.forms1 h1{
    color: black;
    text-align: center;
    background-color: rgb(221, 221, 221);
    display: flex;
    height: 5%;
    width: 100%;
    margin-top: 0%;
    padding-left: 35%;
}

.forms1 .Computer1{
    height: 40%;
    position: absolute;
    top: 13.6%;
    left: 17%;
    display: flex;
}

.forms1 .Computer2{
    height: 40%;
    position: absolute;
    top: 54%;
    left: 52%;
    display: flex;
}

.forms1 .Texto1{
    font-size: 100%;
    color: black;
    left: 58%;
    position: absolute;
    width: 20%;
    top: 20%;
    background-color: rgb(221, 221, 221);
    display: flex;
}

.forms1 .Texto2{
    font-size: 100%;
    color: black;
    left: 20%;
    position: absolute;
    width: 28%;
    top: 65%;
    background-color: rgb(221, 221, 221);
    display: flex;
}

.text{
    margin-top: -21px;
    background-color: gray;
}
